In [1]:
import pandas as pd
from bokeh.io import output_notebook, show, output_file
from bokeh.plotting import figure
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Lemonade_Lab10.csv")

In [3]:
df.head(5)

     Date Location  Lemon  Orange  Temperature  Leaflets  Price
0  7/1/16     Park     97      78           70        90   0.25
1  7/2/16     Park     98      67           72        90   0.25
2  7/3/16     Park    110      54           71       104   0.25
3  7/4/16    Beach    134      56           76        98   0.25
4  7/5/16    Beach    159      90           78       135   0.25

In [4]:
p = figure(title="Lemons and Orange Sales by Temperature")

In [5]:
p.circle(x=df["Temperature"], y=df["Lemon"], size=10, alpha=0.5, color="green", legend="Lemon")
p.triangle(x=df["Temperature"], y=df["Orange"], size=10, alpha=0.5, color="orange", legend="Orange")
p.legend.location="top_left"
show(p)

In [6]:
grouped =  df.groupby("Temperature")
lem = grouped["Lemon"]
#Average of the lemons by temperature
avg = lem.mean()
#standard deviation of lemon by temperature
std = lem.std()
Tem = list(grouped.groups.keys())
Park = df[df["Location"]=="Park"]
Beach = df[df["Location"] == "Beach"]

In [7]:
v = figure(title = "Temperature vs Lemon Sales (Park and Beach)")

In [8]:
v.vbar(x=Tem, bottom=avg-std, top=avg+std, width =0.8, fill_alpha=0.2, line_color=None, legend="Lemon Revenue 1 stddev")
v.circle(x=Beach["Temperature"], y=Beach["Lemon"], alpha=0.5, size=10, color ="red", legend="Sales in Beach")
v.triangle(x=Park["Temperature"], y=Park["Lemon"], alpha=0.5, size=10, color="blue", legend="Sales in Park")
v.legend.location="top_left"
show(v)